# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
*/.pnp
.pnp.js

# testing
*/coverage

# next.js
*/.next/
*/out/

# production
*/build

# misc
.DS_Store
*.pem

# debug
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*/.pnpm-debug.log*
*/yarn.lock

# local env files
*/.env*.local

# vercel
*/.vercel

# typescript
*/*.tsbuildinfo

# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
*/.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/